<html>
    <head>
        <title>My Web Server</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h1>Welcome to the server!</h1>
        <div>Navbar</div>
        <ul>
            <li>
                <a href="/Animals/Cats?Name=ShopovG&Age=99">Cats</a>
                <a href="/Animals/Dogs">Dogs</a>
                <a href="/Animals/Turtles">Turtles</a>
                <a href="/Animals/Bunnies">Bunnies</a>
            </li>
        </ul>

        @RenderBody()

        <div>Footer</div>
    </body>
</html>