p.title {
    font: 2.2em/1.2 Georgia, serif;
    font-weight: bold;
    display: inline-block;
    height: 0.5em;
}

.header-nav {
    border-bottom: 2px solid #000;
    position: relative;
}

.header-nav li {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}

.header-nav nav {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0;
}

.header-nav a {
    text-decoration: none;
    color: #000;
}

.header-nav nav a {
    text-decoration: none;
    color: #006600;
}